spring:
  application:
    name: awesome-java-demo
  datasource:
    primary:
      type: com.zaxxer.hikari.HikariDataSource
      driver-class-name: com.mysql.cj.jdbc.Driver
      jdbc-url: jdbc:mysql://114.132.246.98:3306/primary?useSSL=false&serverTimezone=Asia/Shanghai
      username: public
      password: public
      hikari:
        maximum-pool-size: 10
        minimum-idle: 5
        idle-timeout: 30000
        pool-name: HikariPool-Primary
    secondary:
      type: com.zaxxer.hikari.HikariDataSource
      driver-class-name: org.mariadb.jdbc.Driver
      jdbc-url: jdbc:mariadb://114.132.246.98:3307/secondary?useSSL=false&serverTimezone=Asia/Shanghai
      username: public
      password: public
      hikari:
        maximum-pool-size: 10
        minimum-idle: 5
        idle-timeout: 30000
        pool-name: HikariPool-Secondary
    third:
      type: com.zaxxer.hikari.HikariDataSource
      driver-class-name: com.mysql.cj.jdbc.Driver
      jdbc-url: jdbc:mysql://114.132.246.98:3308/third?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Shanghai
      username: public
      password: public
      hikari:
        maximum-pool-size: 10
        minimum-idle: 5
        idle-timeout: 30000
        pool-name: HikariPool-Third
  elasticsearch:
    uris:
      - https://192.168.186.10:9200
      - https://192.168.186.20:9200
      - https://192.168.186.30:9200
    username: elastic
    password: 8J09w6S6U0Q47DRqEN0y
    ssl:
      enabled: true
      verification-mode: none # 关闭证书校验（自签名时用）

  redis:
    cluster:
      nodes:
        - 192.168.186.10:6379
        - 192.168.186.20:6379
        - 192.168.186.30:6379
        - 192.168.186.40:6379
        - 192.168.186.50:6379
        - 192.168.186.60:6379
    password: Hello@2025
    timeout: 3000ms
    lettuce:
      pool:
        max-active: 10
        max-idle: 10
        min-idle: 1

server:
  address: 0.0.0.0
  port: 8080

rocketmq:
  producer:
    group: TEST
  consumer:
    group: TEST_MESSAGE
    topic: TEST_MESSAGE
  name-server: 114.132.246.98:9876

