<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.keep.demo.mapper.third.MemberMapper">
  <resultMap id="BaseResultMap" type="org.keep.demo.entity.third.Member">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="phone_number" jdbcType="BIGINT" property="phoneNumber" />
    <result column="age" jdbcType="TINYINT" property="age" />
    <result column="education" jdbcType="VARCHAR" property="education" />
    <result column="marriage" jdbcType="BIT" property="marriage" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="org.keep.demo.entity.third.Member">
    <result column="hobbies" jdbcType="LONGVARCHAR" property="hobbies" />
    <result column="skill" jdbcType="LONGVARCHAR" property="skill" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, `name`, phone_number, age, education, marriage
  </sql>
  <sql id="Blob_Column_List">
    hobbies, skill
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="org.keep.demo.entity.third.MemberExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from member
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="org.keep.demo.entity.third.MemberExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from member
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from member
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from member
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="org.keep.demo.entity.third.MemberExample">
    delete from member
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.keep.demo.entity.third.Member">
    insert into member (id, `name`, phone_number, 
      age, education, marriage, 
      hobbies, skill)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{phoneNumber,jdbcType=BIGINT}, 
      #{age,jdbcType=TINYINT}, #{education,jdbcType=VARCHAR}, #{marriage,jdbcType=BIT}, 
      #{hobbies,jdbcType=LONGVARCHAR}, #{skill,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.keep.demo.entity.third.Member">
    insert into member
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        `name`,
      </if>
      <if test="phoneNumber != null">
        phone_number,
      </if>
      <if test="age != null">
        age,
      </if>
      <if test="education != null">
        education,
      </if>
      <if test="marriage != null">
        marriage,
      </if>
      <if test="hobbies != null">
        hobbies,
      </if>
      <if test="skill != null">
        skill,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="phoneNumber != null">
        #{phoneNumber,jdbcType=BIGINT},
      </if>
      <if test="age != null">
        #{age,jdbcType=TINYINT},
      </if>
      <if test="education != null">
        #{education,jdbcType=VARCHAR},
      </if>
      <if test="marriage != null">
        #{marriage,jdbcType=BIT},
      </if>
      <if test="hobbies != null">
        #{hobbies,jdbcType=LONGVARCHAR},
      </if>
      <if test="skill != null">
        #{skill,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.keep.demo.entity.third.MemberExample" resultType="java.lang.Long">
    select count(*) from member
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update member
    <set>
      <if test="row.id != null">
        id = #{row.id,jdbcType=INTEGER},
      </if>
      <if test="row.name != null">
        `name` = #{row.name,jdbcType=VARCHAR},
      </if>
      <if test="row.phoneNumber != null">
        phone_number = #{row.phoneNumber,jdbcType=BIGINT},
      </if>
      <if test="row.age != null">
        age = #{row.age,jdbcType=TINYINT},
      </if>
      <if test="row.education != null">
        education = #{row.education,jdbcType=VARCHAR},
      </if>
      <if test="row.marriage != null">
        marriage = #{row.marriage,jdbcType=BIT},
      </if>
      <if test="row.hobbies != null">
        hobbies = #{row.hobbies,jdbcType=LONGVARCHAR},
      </if>
      <if test="row.skill != null">
        skill = #{row.skill,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update member
    set id = #{row.id,jdbcType=INTEGER},
      `name` = #{row.name,jdbcType=VARCHAR},
      phone_number = #{row.phoneNumber,jdbcType=BIGINT},
      age = #{row.age,jdbcType=TINYINT},
      education = #{row.education,jdbcType=VARCHAR},
      marriage = #{row.marriage,jdbcType=BIT},
      hobbies = #{row.hobbies,jdbcType=LONGVARCHAR},
      skill = #{row.skill,jdbcType=LONGVARCHAR}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update member
    set id = #{row.id,jdbcType=INTEGER},
      `name` = #{row.name,jdbcType=VARCHAR},
      phone_number = #{row.phoneNumber,jdbcType=BIGINT},
      age = #{row.age,jdbcType=TINYINT},
      education = #{row.education,jdbcType=VARCHAR},
      marriage = #{row.marriage,jdbcType=BIT}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.keep.demo.entity.third.Member">
    update member
    <set>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="phoneNumber != null">
        phone_number = #{phoneNumber,jdbcType=BIGINT},
      </if>
      <if test="age != null">
        age = #{age,jdbcType=TINYINT},
      </if>
      <if test="education != null">
        education = #{education,jdbcType=VARCHAR},
      </if>
      <if test="marriage != null">
        marriage = #{marriage,jdbcType=BIT},
      </if>
      <if test="hobbies != null">
        hobbies = #{hobbies,jdbcType=LONGVARCHAR},
      </if>
      <if test="skill != null">
        skill = #{skill,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="org.keep.demo.entity.third.Member">
    update member
    set `name` = #{name,jdbcType=VARCHAR},
      phone_number = #{phoneNumber,jdbcType=BIGINT},
      age = #{age,jdbcType=TINYINT},
      education = #{education,jdbcType=VARCHAR},
      marriage = #{marriage,jdbcType=BIT},
      hobbies = #{hobbies,jdbcType=LONGVARCHAR},
      skill = #{skill,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.keep.demo.entity.third.Member">
    update member
    set `name` = #{name,jdbcType=VARCHAR},
      phone_number = #{phoneNumber,jdbcType=BIGINT},
      age = #{age,jdbcType=TINYINT},
      education = #{education,jdbcType=VARCHAR},
      marriage = #{marriage,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByExampleWithBLOBsWithRowbounds" parameterType="org.keep.demo.entity.third.MemberExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from member
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExampleWithRowbounds" parameterType="org.keep.demo.entity.third.MemberExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from member
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
</mapper>